<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Schedule</title>
    <link rel="stylesheet" href="site.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin: 50px;
        }

        #content {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 70px;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Welcome to My Homepage!</h1>
        <p>
            Hi, I'm <span style="color: #FF5733; font-weight: bold;">Rubio, Juan Carlo C. </span>,
            Section <span style="color: #FF33CA; font-weight: bold;">BSIT 32E3</span>.
        </p>
    </div>
</body>
</html>